<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test_paop_ap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B31AE9401CE6F9500044DC92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B31AE9561CE6F9500044DC92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B31AE9611CE6F9500044DC92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
